.navbar-container {
    top: 0;
    z-index: 100;
    background-color: white;
    position: fixed;
    height: 80px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: calc(100vw - 290px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.navbar-right-side {
    display: flex;
    align-items: center;
    gap: 20px;
}